/* Dashboard */
.section-titulo {
    margin: 2rem;
}

.section-titulo h1 {
    font-size: 2.0rem;
    font-weight: 700;
    color: #ffaa00;
    text-align: center;
}

.section-titulo p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333940;
    text-align: center;
}

.botao-dashboard {
    display: flex;
    justify-content: center;
}

.cadastrar-residuos {
    text-decoration: none;
}

.cadastrar-residuos button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #7b7d82;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

.acessar-relatorios {
    text-decoration: none;
}

.acessar-relatorios button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #7b7d82;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

/* Gráficos */
.section-graficos {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.card-despejo {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.graficos {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.grafico {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.grafico-pizza {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#4CAF50 0% 40%, #FFC107 40% 75%, #F44336 75% 100%);
    margin: 0 auto;
}

.grafico-barra {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
}

.barra {
    width: 30px;
    background-color: #4CAF50;
    border-radius: 5px;

}

@media (max-width: 575px) {

    .cadastrar-residuos button {
        margin-top: 20px;
    }

    .acessar-relatorios button {
        margin-top: 20px;
    }

    /* Gráficos */
    .section-graficos {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .card-despejo {
        padding: 15% 15%;
    }

    .graficos {
        flex-wrap: wrap;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    
    .cadastrar-residuos button {
        margin-top: 20px;
    }

    .acessar-relatorios button {
        margin-top: 20px;
    }

    /* Gráficos */
    .section-graficos {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .graficos {
        flex-wrap: wrap;
    }
}