#icon-backpage {
    height: 60px;
    margin-bottom: 40px;
}

.titulo-pagina {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #ffaa00;
}

.descricao-pagina {
    display: flex;
    justify-content: center;
    color: #333940;
    margin-bottom: 40px;
}

#login,
#senha {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #333940;
    border-radius: 8px;
}

.formulario div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.botao-entrar {
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #333940;
    background-color: #ffaa00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botao-entrar:hover {
    background-color: #f4a303;
    transition: 0.5s;
}

.lembrar-senha {
    text-decoration: none;
    color: #7b7d82;
}

.criar-conta a {
    text-decoration: none;
    color: #7b7d82;
}

@media (max-width: 575px) {
    .container {
        margin: 40px 10%;
    }

    .titulo-pagina {
        font-size: 1.4rem;
    }

    .descricao-pagina {
        font-size: 0.7rem;
    }

    #login,
    #senha {
        font-size: 0.8rem;
        padding: 10px 10px;
    }

    .button-enviar {
        font-size: 0.8rem;
        padding: 10px 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        margin: 60px 10%;
    }

    .titulo-pagina {
        font-size: 1.8rem;
    }

    .descricao-pagina {
        font-size: 1rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 60px 20%;
    }

    .titulo-pagina {
        font-size: 1.8rem;
    }

    .descricao-pagina {
        font-size: 1rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        margin: 60px 25%;
    }

    .titulo-pagina {
        font-size: 2rem;
    }

    .descricao-pagina {
        font-size: 1.2rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 60px 30%;
    }

    .titulo-pagina {
        font-size: 2.3rem;
    }

    .descricao-pagina {
        font-size: 1.2rem;
    }

    #login,
    #senha {
        font-size: 1.0rem;
        padding: 15px 15px;
    }
}