* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
}

img {
    max-width: 100%;
}

#logo {
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
}

/*--------------------- COMEÇA DAQUI O CSS ---------------------*/

/*--------------------- HEADER ---------------------*/
.menu-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333940;
    padding: 15px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logotipo-navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffaa00;
}

.menu-navegacao a h1 {
    font-size: 1.7rem;
}

#botao-entrar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border: 2px solid #ffaa00;
    border-radius: 16px;
    text-decoration: none;
}

#botao-entrar img {
    height: 40px;
}

#botao-entrar p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffaa00;
}

/*--------------------- MAIN ---------------------*/
h2 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: #ffaa00;
    margin-bottom: 40px;
}

/* INTEGRANTES */

.section-integrantes {
    padding: 40px 10%;
}

.integrantes {
    display: flex;
    gap: 40px;
    margin: 0 10% 0;
    text-align: center;
}

.integrantes img {
    border: 5px solid #333940;
    border-radius: 50%;
}

.integrantes h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffaa00;
}

.integrantes span {
    font-weight: 500;
    color: #333940;
}

/* FALE CONOSCO */
.section-formulario {
    padding: 40px 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

#nome,
#email,
#assunto {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    padding: 10px 10px;
    border: 1px solid #0f5a6c;
    border-radius: 8px;
}

#mensagem {
    height: 210px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid #0f5a6c;
    border-radius: 8px;
}

.botao-enviar {
    text-align: end;
    border: none;
    background: none;
}

.botao-enviar img {
    height: 60px;
}

/*--------------------- FOOTER ---------------------*/
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffaa00;
    padding: 10px 40px;
    position: relative;
    bottom: 0;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-footer p {
    font-size: 0.6rem;
    color: #333940;
}

.logotipo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logotipo-footer h1 {
    font-size: 1.7rem;
    color: #333940;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.redes-sociais p {
    font-size: 0.8rem;
    color: #333940;
}

.redes-sociais div {
    display: flex;
    gap: 10px;
}

.redes-sociais img {
    width: 40px;
}